<section class="personal-info-form mb-5">
    <h4 class="mb-4">Chỉnh sửa thông tin</h4>
    <div class="box box-primary">
        <div class="box-body">

            <form>
                <!-- Phần thông tin -->
                <div>
                    <div class="mb-3">
                        <label for="fullName" class="form-label">Họ Tên</label>
                        <input type="text" class="form-control" id="fullName" placeholder="">
                    </div>
                    <div class="mb-3">
                        <label for="transactionName" class="form-label">Tên Giao Dịch</label>
                        <input type="text" class="form-control" id="transactionName" placeholder="">
                    </div>
                    <div class="mb-3">
                        <label for="phoneNumber" class="form-label">Số Điện Thoại</label>
                        <input type="text" class="form-control" id="phoneNumber" placeholder="">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="">
                    </div>
                    <div class="mb-3">
                        <label for="address" class="form-label">Địa Chỉ</label>
                        <input type="text" class="form-control" id="address" placeholder="">
                    </div>
                    <div class="mb-3">
                        <label for="city" class="form-label">Tỉnh/Thành</label>
                        <select class="form-select" id="city">
                            <option selected>Chọn tỉnh/thành</option>
                            <option value="Hanoi">Hà Nội</option>
                            <option value="HCM">TP. Hồ Chí Minh</option>
                            <option value="Danang">Đà Nẵng</option>
                            <option value="Other">Khác</option>
                        </select>
                    </div>
                </div>

                <td class="text-right">
                    <a href="~/Account/EditInformation" class="btn btn-xs btn-info">
                        <i class="fa fa-edit"></i>
                        Chỉnh sửa
                    </a>
                    <a href="~/Home" class="btn btn-xs btn-danger">
                        <i class="fa fa-undo"></i>
                        Quay lại
                    </a>
                </td>
            </form>
        </div>
    </div>

</section>@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
